[user]
	name = Dimitri Missoh
	email = dimitri.missoh@maibornwolff.de
[alias]
	ladog = log --all --decorate --oneline --graph
[gitbutler]
	aiOpenAIKeyOption = bringYourOwn
	aiOpenAIModelName = gpt-4o
